@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/*--------------------------------------------------------------
# Font & Color Variables
--------------------------------------------------------------*/
/* Fonts */
:root {
  --default-font: Askan, "Open Sans", sans-serif;
}
:root {
  --primary-color: #ec615c;
  --secondaly-color: #222;
  --third-color: #fff;
  --background-color: #fff;
  --shadow-box: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  --hover-transition: 0.2s;
  --width-section: 92%;
}
/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@font-face {
  font-family: Askan;
  src: url("assets/fonts/Hoftype Askan Black.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
html {
  font-size: 10px; /* 1rem = 10px */
}
@media (max-width: 992px) {
  html {
    font-size: 8px;
  }
}

body {
  color: var(--secondaly-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
  font-weight: 400;
}
a {
  color: var(--secondaly-color);
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
h1 {
  color: var(--secondaly-color);
}
h2 {
  color: var(--primary-color);
  font-size: 2.8rem;
  line-height: 3rem;
}
h3 {
  font-weight: normal;
  color: #6c6c6c;
  font-size: 1.6rem;
  font-weight: 300;
}
h4,
i {
  font-size: 1.6rem;
}
.headline {
  text-align: center;
  margin: 2rem 0;
}
.headline h2 {
  color: var(--primary-color);
  margin-bottom: 8px;
}
/*--------------------------------------------------------------
# reusable style
--------------------------------------------------------------*/
.section {
  width: var(--width-section);
  margin: 5rem auto;
}
/* shadow on the edge */
.pesoudo {
  position: relative;
}
.pesoudo::after,
.pesoudo::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 100%;
  top: 0;
  z-index: 1;
  pointer-events: none;
}
.pesoudo::before {
  left: -1px;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(transparent),
    to(#fff)
  );
  background: -o-linear-gradient(right, transparent, #fff);
  background: linear-gradient(to left, transparent, #fff);
}
.pesoudo::after {
  right: -1px;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#fff),
    to(transparent)
  );
  background: -o-linear-gradient(right, #fff, transparent);
  background: linear-gradient(to left, #fff, transparent);
}

/* the herizontal scroll */
/* Hide scrollbar for better UI */
.container-boxes::-webkit-scrollbar {
  display: none;
}
.container-boxes {
  -ms-overflow-style: none; /* For Internet Explorer */
  scrollbar-width: none; /* For Firefox */
}
.container-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 25px;
  overflow-x: auto;
  padding: 10px;
  position: relative;
}
.box {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(240px - 10px);
  flex: 0 0 calc(240px - 10px);
  min-height: 25rem;
  -webkit-box-shadow: var(--shadow-box);
  box-shadow: var(--shadow-box);
  border-radius: 15px;
  position: relative;
  padding-bottom: 8px;
  cursor: pointer;
}
/* arrow style */
.arrows-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
}
.arrows-container span {
  width: 30px;
  height: 30px;
  background-color: #eee;
  border-radius: 100%;
  -webkit-box-shadow: var(--shadow-box);
  box-shadow: var(--shadow-box);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.arrows-container span:hover svg path {
  fill: var(--primary-color);
  -webkit-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
  transition: var(--hover-transition);
}
@media (max-width: 992px) {
  .arrows-container {
    display: none;
  }
}
/*--------------------------------------------------------------
# Start Header Section
--------------------------------------------------------------*/
.header {
  padding: 0.4rem 0;
  -webkit-box-shadow: var(--shadow-box);
  box-shadow: var(--shadow-box);
}
.header .vendors-gate {
  width: var(--width-section);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  margin: 0.4rem auto;
}
.header .vendors-gate h3 a {
  display: flex;
  align-items: center;
  gap: 5px;
}
/* .header .vendors-gate h3:hover i, */
.header .vendors-gate h3:hover a {
  color: var(--primary-color);
  transition: var(--hover-transition);
}
.header .vendors-gate h3:hover svg path {
  stroke: var(--primary-color);
  transition: var(--hover-transition);
}
.header > span {
  width: 1px;
  height: 1px;
  width: 100%;
  display: block;
  background-color: #ccc;
}

.header .header-container {
  width: var(--width-section);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.4rem 0;
}
.header .header-container .navmenu {
  width: 73%;
  margin: auto;
}
.header .header-container .navmenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  gap: 1rem;
}
.header .header-container .navmenu ul li {
  padding: 4px 9px;
  font-size: 1.6rem;
  font-weight: 300;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header-container .navmenu ul li:hover,
.header .header-container .navmenu ul li:hover a {
  color: var(--primary-color);
  -webkit-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
  transition: var(--hover-transition);
}
.header .header-container .navmenu ul li svg {
  margin-left: 8px;
}
.header .header-container .subscirbe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
}
.header .header-container .sign-up-btn {
  padding: 6px 10px;
  background-color: var(--primary-color);
  color: var(--third-color);
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.header .header-container .sign-up-btn:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  -webkit-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
  transition: var(--hover-transition);
}
.header .header-container .navmenu ul li .dropdown {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  width: 15rem;
  background: #fff;
  -webkit-box-shadow: var(--shadow-box);
  box-shadow: var(--shadow-box);
  border-radius: 8px;
  z-index: 2;
}
.header .header-container .navmenu ul li.active .dropdown {
  display: block;
}
.header .header-container .navmenu ul li .dropdown li {
  border-bottom: 1px solid #eee;
  padding: 1rem 0.8rem;
}
.header .header-container .navmenu ul li .dropdown li a {
  font-size: 1.4rem;
  color: #222;
}
.header .header-container .navmenu ul li .dropdown li a:hover {
  color: var(--primary-color);
  -webkit-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
  transition: var(--hover-transition);
}
.header .header-container .navmenu ul li .dropdown li:last-child {
  border: none;
}
.header .header-container .humberger {
  display: none;
}
.header .header-container .humberger svg {
  color: var(--primary-color);
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}
.header .header-container aside {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: none;
  z-index: 2;
}
.header .header-container aside .aside-content {
  width: 60%;
  height: 100%;
  background-color: var(--background-color);
  padding: 3rem 0;
}
.header .header-container aside .aside-content .remove-aside {
  padding: 0 2.5rem 2rem;
  border-bottom: 1px solid #eee;
  text-align: right;
}
.header .header-container aside .aside-content .remove-aside svg {
  color: #8c8c8c;
}

.header .header-container aside .aside-content ul li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1.8rem;
  border-bottom: 1px solid #eee;
  padding: 3rem 2.5rem;
  position: relative;
}
.header .header-container aside .aside-content ul li svg {
  color: #8c8c8c;
}
.header .header-container aside .aside-overlay {
  width: 40%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
}
.header .header-container .aside-content ul li .dropdown {
  padding-left: 3rem;
  overflow: hidden;
  height: 0;
}
.header .header-container .aside-content ul li.active .dropdown {
  height: auto;
}
.header .header-container .aside-content ul li .dropdown li {
  border-bottom: 1px solid #eee;
  padding: 2rem 0;
}
.header .header-container .aside-content ul li .dropdown li a {
  font-size: 1.6rem;
  color: #6c6c6c;
}
.header .header-container .aside-content ul li .dropdown li a:hover {
  color: var(--primary-color);
  transition: var(--hover-transition);
}
.header .header-container .aside-content ul li.active > div svg {
  -webkit-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
  transition: var(--hover-transition);
  rotate: 90deg;
}
.header .header-container .aside-content ul li .dropdown li .sign-up-btn {
  display: block;
  padding: 6px 10px;
  background-color: var(--primary-color);
  color: var(--third-color);
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.header .header-container .aside-content ul li .dropdown li:last-child {
  border: none;
}
@media (max-width: 769px) {
  .header .header-container .logo img {
    width: 80%;
  }
  .header .header-container .navmenu,
  .header .header-container .sign-up-btn {
    display: none;
  }
  .header .header-container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .header .header-container .humberger {
    display: block;
  }
}
/*--------------------------------------------------------------
# End Header Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Start Hero Section
--------------------------------------------------------------*/
.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36rem;
  position: relative;
}
.hero .img-container {
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("/assets/images/herosection.jpg") left / cover no-repeat;
}
.hero .img-container img {
  width: 100%;
  height: 100%;
}
.hero .container .hero-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}
.hero .container .hero-main-text {
  width: 56%;
  padding: 2rem;
  background-color: var(--third-color);
  border-radius: 50rem 0 0 50rem;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  position: relative;
}
.hero .container .hero-content .hero-main-text::after {
  content: "";
  display: none;
  width: 200%;
  height: 100%;
  background-color: var(--background-color);
  position: absolute;
  top: -13%;
  right: 0;
  rotate: 6deg;
  z-index: -1;
}
.hero .container .hero-main-text > div {
  width: 85%;
}
.hero .container .hero-main-text h1 {
  font-size: 3rem;
  line-height: 3.8rem;
  margin-bottom: 12px;
  width: 85%;
}
.hero .container .hero-content .search-space {
  width: 85%;
  margin-top: 2rem;
}
.hero .container .hero-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero .container .hero-content form > div {
  width: 78%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero .container .hero-content form .input-container div {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}
.hero .container .hero-content div svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: var(--primary-color);
  font-size: 2rem;
}
.hero .container .hero-content input {
  width: 100%;
  padding: 6px 8px 6px 35px;
  border: 1px solid #6c6c6c;
  color: var(--secondaly-color);
  height: 4rem;
  font-size: 1.3rem;
}
.hero .container .hero-content input:focus {
  outline: none;
}
.hero .container .hero-content input.type-service {
  border-radius: 1.4rem 0 0 1.4rem;
}
.hero .container .hero-content input.location-service {
  border-left: none;
  border-right: none;
}
.hero .container .hero-content .search-btn {
  width: 22%;
  padding: 0 1rem;
  height: 4rem;
  background-color: var(--primary-color);
  color: var(--third-color);
  font-size: 1.4rem;
  font-weight: 400;
  border: none;
  border-radius: 0 14px 14px 0;
  cursor: pointer;
}
.hero .container .hero-content form .input-container > div {
  position: relative;
}
.hero .container .hero-content .type-service-list,
.hero .container .hero-content .location-service-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 145px;
  overflow-y: auto;
  background: #fff;
  -webkit-box-shadow: var(--shadow-box);
  box-shadow: var(--shadow-box);
  z-index: 2;
  cursor: pointer;
}
.hero .container .hero-content .type-service-list {
  border-radius: 1.4rem 0 0 1.4rem;
}
.hero .container .hero-content .type-service-list li,
.hero .container .hero-content .location-service-list li {
  padding: 2rem;
  padding-left: 35px;
  font-size: 1.2rem;
  font-weight: 300;
  border-bottom: 1px solid #eee;
}

.hero .container .hero-content .type-service-list li:hover,
.hero .container .hero-content .location-service-list li:hover {
  color: var(--primary-color);
}

@media (max-width: 992px) {
  .hero .container .hero-content form {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .hero .container .hero-content form > div {
    width: 100%;
    gap: 1rem;
  }
  .hero .container .hero-content input.type-service,
  .hero .container .hero-content input.location-service {
    border: 1px solid #6c6c6c;
    border-radius: 1.4rem;
    height: 5rem;
  }
  .hero .container .hero-content .search-btn {
    border-radius: 1.4rem;
    width: 100%;
    height: 5rem;
  }
  .hero .container .hero-content .type-service-list,
  .hero .container .hero-content .location-service-list {
    border-radius: 1.4rem;
  }
}
@media (max-width: 769px) {
  .hero .container {
    height: 80vh;
  }
  .hero .img-container {
    width: 100%;
    height: 40%;
  }
  .hero .container .hero-content {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
  }

  .hero .container .hero-content .hero-main-text {
    width: 100%;
    height: 60%;
    border-radius: 0;
    border: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    padding: 2rem 0;
  }
  .hero .container .hero-main-text > div {
    width: 76%;
  }
  .hero .container .hero-main-text h1 {
    font-size: 2.6rem;
    width: 100%;
    line-height: 4.8rem;
  }
  .hero .container .hero-main-text h3 {
    line-height: 3rem;
  }
  .hero .container .hero-main-text h3 span {
    display: block;
  }
  .hero .container .hero-content form > div {
    display: block;
  }
  .hero .container .hero-content .search-space {
    width: 100%;
  }
  .hero .container .hero-content form > div div:first-child {
    margin-bottom: 2rem;
  }
}
/* End Hero Section */
/* Start Best Vendors Section */
.best-vendors .container .box img {
  width: 100%;
  height: 50%;
  border-radius: 15px 15px 0 0;
}
.best-vendors .container .box .icon-container {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: var(--background-color);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid #6c6c6c;
  -webkit-box-shadow: 0px 0px 4px;
  box-shadow: 0px 0px 4px;
}
.best-vendors .container .box .box-text-content {
  margin-top: 30px;
  text-align: center;
  padding: 0 6px;
}
.best-vendors .container .box .box-text-content p {
  color: #6c6c6c;
  font-size: 1.3rem;
  margin-top: 1rem;
  font-weight: 300;
  line-height: 2rem;
}
/* End Best Vendors Section */
/* Start Best Discount Section */
.discount .container .box::before {
  content: attr(data-discount);
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 6rem;
  height: 3rem;
  z-index: 1;
  background-color: var(--primary-color);
  color: var(--third-color);
  font-size: 1.5rem;
  border-radius: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.discount .container .box img {
  width: 100%;
  height: 50%;
  border-radius: 15px 15px 0 0;
}
.discount .container .box .discount-contant {
  padding: 8px 12px 0;
}
.discount .discount-container .box .discount-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.discount .container .box .discount-info .time {
  color: var(--primary-color);
  font-weight: 300;
  display: flex;
  align-items: center;
}
.discount .discount-container .box .discount-info .time svg {
  padding-right: 0.2rem;
}
.discount .discount-container .box .discount-info > span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 4px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #222;
}
.discount .container .box .discount-text {
  margin: 1.6rem 0 0.5rem;
}
.discount .container .box .discount-text h4 {
  font-size: 1.6rem;
  margin-bottom: 4px;
}
.discount .container .box .discount-text p {
  font-size: 1.3rem;
  color: #6c6c6c;
  font-weight: 300;
  line-height: 2rem;
}
.discount .container .box .price .new-price {
  font-size: 2.2rem;
  font-weight: 400;
  padding-right: 8px;
}
.discount .container .box .price .old-price {
  font-size: 1.3rem;
  font-weight: 300;
  color: #6c6c6c;
  position: relative;
}
.discount .container .box .price .old-price::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #6c6c66;
}
/* End Best Discount Section  */
/* Start Wedding Planner Section */
.wedding-planner {
  width: 80%;
  -webkit-box-shadow: var(--shadow-box);
  box-shadow: var(--shadow-box);
  border-radius: 15px;
  height: 35rem;
}
.wedding-planner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem;
  gap: 1rem;
  height: 100%;
}
.wedding-planner .container div {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}
.wedding-planner .container .text-content h4 {
  font-size: 3.6rem;
  font-weight: bold;
  width: 80%;
}
.wedding-planner .container .text-content p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 300;
  margin: 2rem 0 3.2rem;
}
.wedding-planner .container .text-content button {
  padding: 8px 9px;
  background-color: var(--primary-color);
  color: var(--third-color);
  font-size: 1.8rem;
  font-weight: 400;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.wedding-planner .container .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.wedding-planner .container .img-container img {
  border-radius: 15px;
  width: 90%;
  height: 90%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.wedding-planner .container .img-container::after {
  content: "";
  position: absolute;
  top: -1.6rem;
  right: -1.6rem;
  width: 90%;
  height: 90%;
  background-color: var(--primary-color);
  border-radius: 15px;
  z-index: -1;
}
@media (max-width: 992px) {
  .wedding-planner .container .text-content h4 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .wedding-planner {
    height: auto;
  }
  .wedding-planner .container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 3rem;
    text-align: center;
  }
  .wedding-planner .container .img-container {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
  .wedding-planner .container .img-container::after {
    top: 4rem;
    left: 2rem;
  }
}
/* End Wedding Planner Section */
/* Start Articles Section */
.articles .headline-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 2rem 0;
}
.articles .headline-container .headline-content {
  flex: 1 1 50%;
}
.articles .headline-container .headline-content h2 {
  margin-bottom: 8px;
}
.articles .headline-container .more-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
}
.articles .headline-container .more-articles a {
  font-size: 1.6rem;
  text-decoration: underline;
}
.articles .headline-container .more-articles:hover,
.articles .headline-container .more-articles:hover a {
  color: var(--primary-color);
  -webkit-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
  transition: var(--hover-transition);
}
/* .articles .headline-container .more-articles  */
.articles .more-articles.mob-v {
  display: none;
}

.articles .category-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 25px;
  overflow-x: auto;
  padding: 10px;
}
.articles .category-container .category {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 190px;
  flex: 0 0 190px;
  height: 6rem;
  -webkit-box-shadow: var(--shadow-box);
  box-shadow: var(--shadow-box);
  background: url("/assets/images/category.jpg") center / cover no-repeat;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.articles .category-container .category::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
  border-radius: 10px;
}
.articles .category-container .category h5 {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--background-color);
  z-index: 2;
}
.articles .pesoudo > span {
  position: absolute;
  z-index: 2;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  top: 35%;
  color: var(--third-color);
  cursor: pointer;
}
.articles .pesoudo > span.left-arrow {
  left: 1rem;
}
.articles .pesoudo > span.right-arrow {
  right: 1rem;
}
.articles .pesoudo > span svg {
  width: 3rem;
  height: 3rem;
}
.articles .article img {
  width: 100%;
  height: 50%;
  border-radius: 15px 15px 0 0;
}
.articles .article .article-content {
  padding: 8px 5px;
}
.articles .article .article-content .article-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #6c6c6c;
  font-size: 1.2rem;
  font-weight: 300;
}
.articles .article .article-content p {
  font-size: 1.4rem;
  margin: 8px 0;
}
@media (max-width: 992px) {
  .articles .pesoudo > span {
    display: none;
  }
}
@media (max-width: 768px) {
  .articles .headline-container .more-articles {
    display: none;
  }
  .articles .more-articles.mob-v {
    display: block;
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    padding: 2rem;
  }
}
/* End Articles Section */
/* Start Footer Section */
footer {
  background-color: #eee;
}
footer .footer-container {
  width: var(--width-section);
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem 0 1rem;
  gap: 2rem;
}
footer .footer-col {
  -webkit-column-span: 1fr;
  -moz-column-span: 1fr;
  column-span: 1fr;
}
footer .footer-col h5 {
  font-size: 1.6rem;
  margin-bottom: 8px;
}
footer .footer-col ul li {
  padding: 5px 4px;
  font-size: 1.3rem;
}
footer .footer-col ul li a {
  color: #6c6c6c;
}
footer .footer-col ul li a:hover {
  color: #383838;
  -webkit-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
  transition: var(--hover-transition);
}
footer .footer-col.second-col ul li:last-child a {
  color: var(--secondaly-color);
}
footer .footer-col.second-col ul li:last-child {
  font-size: 1.2rem;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
  position: relative;
  left: -22px;
}
footer .footer-col .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2px;
}
footer .footer-col .footer-logo img {
  width: 10rem;
}
footer .footer-col .footer-logo p {
  color: #3a1010;
}
footer .footer-col .app-download {
  margin-top: 8px;
}
footer .footer-col ul.follwo-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1rem;
}
footer .footer-col ul.follwo-us li svg {
  width: 3rem;
  height: 3rem;
}
footer .footer-col ul.follwo-us li svg:hover path {
  stroke: var(--primary-color);
  transition: var(--hover-transition);
}
footer .copy-right {
  padding: 5px;
  border-top: 1px solid #6c6c6c;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  color: #383838;
}
@media (min-width: 768px) and (max-width: 992px) {
  footer .footer-container {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  footer .footer-container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
  footer .footer-col.second-col ul li:last-child {
    width: 100%;
  }
}
/* End Footer Section */
